.about_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    font-size: 20px;
    padding: 5px;
}

.about_content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about_image {
    border-color: #000000;
    border-radius: 5px;
    border-width: 2px;
    padding: 4px;
    max-width: 100%;
    height: auto;
    object-fit: cover;
    margin-bottom: auto;
}

.about_title {
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
    text-align: center;
    color: #1f2937;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    margin-top: 22px;
    font-size: 52px;
    font-weight: 450;
}

.about_description {
    font-family: 'Georgia', serif;
    font-size: 26px;
    padding: 20px;
    max-width: 1350px;
}

.button_container {
    display: flex;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
}

.cv_button {
    color: black;
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
    background-color: transparent;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: all;
    padding: 10px;
    font-size: 27px;
    border: 2px solid rgb(254 202 202);
    border-radius: 12px;
}

.about_text_cont {
    flex-direction: column;
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
    justify-content: center;

}

.cv_button:hover {
    background-color: rgb(254 202 202);
    box-shadow: 0px 4px 15px rgb(254 226 226);
}

/* @media (min-width: 1024px) {
    .about_section {
        flex-direction: row;
        justify-content: space-between;
        text-align: center;
        padding-left: 224px;
        padding-right: 224px;
    }

    .about_content {
        flex-direction: row;
        align-items: flex-start;
    }

    .about_description {
        text-align: left;
    }
} */
